
var resolveConfig = function (scriptingEnv, configMap, identity, logger) {
    logger.debug("Starting cisco duo config resolv");

    configMap.put("managerClass", "edu.kit.scc.webreg.service.twofa.ciscoduo.CiscoDuoTokenManager");
    configMap.put("device", "auto");
    configMap.put("userId", identity.getTwoFaUserName());

    // TODO
    // auf der Duo-Webseite "Web SDK" Application erstellen und notieren:
    // - Integration Key
    // - Secret Key
    // - API Hostname (z.B. api-europe.duosecurity.com)

    configMap.put("host", "api-XXXXXXXX.duosecurity.com");
    configMap.put("integrationKey", "DUO_INTEGRATION_KEY");
    configMap.put("secretKey", "DUO_SECRET_KEY");
    configMap.put("adminIntegrationKey", "DUO_ADMIN_INTEGRATION_KEY");
    configMap.put("adminSecretKey", "DUO_ADMIN_SECRET_KEY");
    configMap.put("managementUrl", "https://admin.duosecurity.com/users/{username}");
};

